@import 'utilities.css';
:root{
--primary: rgb(29, 221, 189);
--bgDark: rgb(12, 12, 12);
--white: rgb(250, 250, 250);
--secondary: rgb(0, 59, 50);
--bgLight: rgb(190, 181, 181);
--mywhite:#EEE;
--boxshadow:#aaa1a1;
--linair:rgb(81 198 237);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
body{
    font-family: 'Poppins', sans-serif;
   
    }
header{
    background-color: var(--bgDark);
    position: relative;
    width: 100vw;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   flex-direction: row;
}
header nav .left{
    display: flex;
   
}
header nav .left a{
    color: var(--white);
    text-decoration: none;
    margin-right: 2.5rem;
    text-transform: uppercase;
    transition: all .2s ease;
}
header nav .left a:hover{
    color: var(--primary);
}
header  nav .left{
    padding: 2rem 0;
    align-items: center;
}
.logo{
    padding-right: 2.5rem;
    padding-left:20px ;
    
}
.logo .my-logo{
    color: var(--primary);
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;   
}
.logo .my-logo span{
    color: var(--white);
}
header .right{
    position: absolute;
    top: 50p;
    right: 180px;
    
}
.butt a{
    text-decoration: none;
    color: var(--bgDark);
}
.butt:hover a{
    color: var(--primary);
}
 header .butt {
padding: 0.6rem 2rem;
font-size: 1rem;
font-weight: 600;
border: 2px solid transparent;
outline: none;
cursor: pointer;
text-transform: uppercase;
transition: all .2s ease;
background-color: var(--primary);
color: var(--secondary);
margin-top: -15rem;
}
.butt:hover{
background: transparent;
border-color: var(--primary);
color: var(--primary);
}

.hero{
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(./Screenshot\ 2022-10-21\ 020227.png);
    background-size: cover;
    height: 635px;
 }
 .hero .left-2{
    display: flex;
    justify-content: center;
    flex:1;
 }
 .hero .right-2{
    display: flex;
    flex: 1;
 }
.herot .left-2 img{
border: solid 10px var(--primary);
}
.hero .right-2{
display: flex;
flex: 1;
flex-direction: column;
color: var(--white);
margin-top: -7rem;
}
.hero .right-2 h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
 }
.hero .right-2 h1{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
    }
.hero .right-2 h1 span{
    color: var(--primary);
    }
.hero .right-2 p{
    line-height: 1.9;
    margin-bottom: 2rem;
    padding-left: 30px;}
.me{
    font-size:45px;
    font-weight: 100px;
    line-height: 1.2;}
.me .me-3{
    color: var(--primary);
}
.me-4::first-letter{
  color: var(--primary);
  padding-left: 13px;
  font-size: 20px;
}
.my-skills{
    max-width: 1300px;
    height: 700px;
    display: grid;
    grid-template-areas: "html css js"
    "ui-ux-disgn c python";
    gap: 35px 20px ;
    margin: 20px auto;
}
.my-skills div{
    width: 250px;
    height: 250px;
    background-color: var(--mywhite);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    transition-duration:0.8s;
    position: relative;
}

.skill-img{
   margin: 10px 10px;
}
/* .my-skills p{
    text-align: center;
    color: var(--bgDark);
    font-size: 25px;
    padding-top:45%;
} */
.html{
    grid-area:html;
}
.css{
    grid-area: css;
}
.js{
    grid-area: js;
}
.ui-ux-disgn{
    grid-area:ui-ux-disgn;
}
.c{
    grid-area: c;
}
.python{
    grid-area: python;
}

.while-hover{
    display: none;
    background-image: linear-gradient(50deg, var(--primary),rgb(81 198 237) );
    position:absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 10%;
    border-radius: 0px 0px 10px 10px;
}

.my-skills div:hover{
    box-shadow: 6px 6px 20px var(--boxshadow);
    transform: scale(1.04);
    background: var(--mywhite);
}
.my-skills div:hover .skill-img{
    display: none;
}
.my-skills div:hover .while-hover{
    display: block;
}
.html .while-hover{
    height: 95%;
}
.css .while-hover{
    height: 80%;
}
.js .while-hover{
    height: 10%;
    padding-top: 0px;
}
.ui-ux-disgn .while-hover{
    height:20% ;
}
.c .while-hover{
    height: 70% ;
}  
.python .while-hover {
    height: 35%;
}
.skil{
    text-align: center;
    padding:10px;
    font-size: 40px;

}
.skil::first-letter{
    color: var(--primary);
}
footer {
    width: 100%;
    height: 400px;
    background-color: var(--bgDark);
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column; 
}

.services{
    position:absolute;
    color: var(--primary);
    font-size: 30px;
    text-align: center;
    font-weight: 100px;
    top: 10px;
    left: 40%;
}
.butt-3{
    position: absolute;
    background-color: var(--primary);
    margin: 10px auto;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    top: 50px;
    left: 50%;
    
}
.butt-3:hover{
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
    }
 
.left-3 .social-menu{
    display: flex;
    position: relative;
}
 .left-3 .social-menu i{
    width: 50x;
    height: 50px;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 50%;
    margin: 22px 10px;
    color: var(--bgDark);
    text-decoration: none;
    font-size: 25px;
    justify-content: center;
}
 .left-3 .social-menu ul li{
    list-style: none;
    margin: 0px 10px;
}
 .left-3 .social-menu ul{
    position:absolute;
    top: 50%px;
    left:50%px;
    transform: translate(-50%,-50%);
    flex-direction: row;
   display: flex;
}
  
.social-menu ul li a{
    position:relative;
    text-decoration: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--white);
    transition: .6s;  
    box-shadow: 0 5px 4px rgba(0,0,0,.5);  
    text-align: center;
    display: block;
}

.social-menu ul li a:hover{  
    transform: translate(0, -10%);  
  }  
  .social-menu ul li:nth-child(1) a:hover{  
    background-color:#00b9fb;  
  }  
  .social-menu ul li:nth-child(2) a:hover{  
    background-color: #E4405F;  
  }  
  .social-menu ul li:nth-child(3) a:hover{  
    background-color: #0077b5;  
  } 
  .copyright{
    display: block;
    flex-direction: column;
    color: var(--white);
    position:absolute;
    bottom:10px;
    left: 40%;
  }
hr{
    border: none;
    width: 100%;
  background-color: var(--primary);
    height: 3px;
}
.hr-1{
position:absolute;
top: 50px;
}
.hr-2{
    position:absolute;
    bottom: 50px;
}

.left-3{
   position: relative;
   width: 40%;
   height:300px;
 display:flex;
 align-items: center;
 flex-direction: column;
 justify-content: space-evenly;
}
.right-3{
position:absolute;
right: 10px;
width: 40%;
 height:300px;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
 }
.me2{
    color: var(--white);
    font-size: 18px;
    margin-top:50px;
    margin-left: -170px;
    margin-bottom:-20px;
}
.me2-3{
    color: var(--white);
  
}
.me2-3::first-letter{
    color: var(--primary);
    font-size: 18px;
    padding-left:13px;
}



    
